/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Test_Table;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Test_Table
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Test_Table-Column-Column1
{
	
}

.TableStyle-Test_Table-Head-Header1
{
	
}

.TableStyle-Test_Table-HeadI-Column1-Header1
{
	
}

.TableStyle-Test_Table-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_Table-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_Table-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_Table-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadC-Column1-Header1
{
	
}

.TableStyle-Test_Table-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadA-Column1-Header1
{
	
}

.TableStyle-Test_Table-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-HeadG-Column1-Header1
{
	
}

.TableStyle-Test_Table-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Test_Table-Foot-Footer1
{
	
}

.TableStyle-Test_Table-FootI-Column1-Footer1
{
	
}

.TableStyle-Test_Table-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_Table-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_Table-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test_Table-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootC-Column1-Footer1
{
	
}

.TableStyle-Test_Table-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootA-Column1-Footer1
{
	
}

.TableStyle-Test_Table-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-FootG-Column1-Footer1
{
	
}

.TableStyle-Test_Table-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Test_Table-Body-Body1
{
	
}

.TableStyle-Test_Table-BodyI-Column1-Body1
{
	
}

.TableStyle-Test_Table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_Table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyH-Column1-Body1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test_Table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyC-Column1-Body1
{
	
}

.TableStyle-Test_Table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyB-Column1-Body1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test_Table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyA-Column1-Body1
{
	
}

.TableStyle-Test_Table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Test_Table-BodyG-Column1-Body1
{
	
}

.TableStyle-Test_Table-BodyG-Column1-Body1 p
{
	
}


