/*<meta conditions="" />*/

/*ADD Review*/

@font-face 
{
	font-family: "Titillium Web";
	src: url(../Fonts/TitilliumWeb-Regular.ttf);
}

/*src: url('https://fonts.googleapis.com/css?family=Titillium+Web'), url("~/../Content/TitilliumWeb-Regular.ttf") format("ttf");*/

@font-face 
{
	font-family: 'MontserratItalic';
	src: url(../Resources/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face 
{
	font-family: 'Montserrat';
	src: url(../Resources/Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face 
{
	font-family: 'OpenSansItalic';
	src: url(../Resources/Fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face 
{
	font-family: 'OpenSans';
	src: url(../Resources/Fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face 
{
	font-family: 'Roboto';
	src: url(../Resources/Fonts/Roboto-Regular.ttf);
}

@font-face 
{
	font-family: 'Roboto Light';
	src: url(../Resources/Fonts/Roboto-Light.ttf);
}

@font-face 
{
	font-family: 'Roboto Medium';
	src: url(../Resources/Fonts/Roboto-Medium.ttf);
}

@font-face 
{
	font-family: 'Roboto Black';
	src: url(../Resources/Fonts/Roboto-Black.ttf);
}

body
{
	font-family: Arial;
	background-color: #ffffff;
	color: #565656;
}

p
{
	color: #565656;
	font-family: Arial;
	font-size: 11pt;
	line-height: 150%;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

p.BodyText
{
	margin-top: 4pt;
	color: #565656;
	font-family: Arial;
	font-size: 11pt;
	line-height: 150%;
	margin-bottom: 10pt;
}

p.TableHead
{
	color: #ffffff;
	font-weight: bold;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Arial;
	font-variant: normal;
	text-transform: uppercase;
	font-size: 10pt;
	background-color: #898493;
	mc-disable-glossary-terms: true;
}

p.TableText
{
	color: #565656;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-right: 5pt;
	font-variant: normal;
	font-family: Arial;
	line-height: 125%;
	font-size: 10pt;
}

p.Note
{
	color: #565656;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 5pt;
	margin-right: 5pt;
	font-style: italic;
	font-family: Arial;
	line-height: 150%;
	font-size: 10pt;
}

p.SplashPageTopic
{
	font-size: 10pt;
	text-align: center;
	margin-top: 3pt;
	margin-bottom: 3pt;
	mc-disable-glossary-terms: true;
}

p.SplashPageTitle
{
	font-size: 12pt;
	text-align: center;
	margin-bottom: 4pt;
	mc-disable-glossary-terms: true;
}

p.SplashPageImage
{
	text-align: center;
	margin-top: 6pt;
	margin-bottom: 6pt;
	mc-disable-glossary-terms: true;
}

p.footnote
{
	color: #565656;
	margin-top: 1pt;
	margin-bottom: 1pt;
	margin-left: 5pt;
	margin-right: 5pt;
	font-variant: normal;
	font-family: Arial;
	line-height: 150%;
	font-size: 9pt;
}

p.Code
{
	font-family: 'Courier New';
	font-size: 10 pt;
}

ol
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	color: #565656;
	font-family: Arial;
	font-size: 11pt;
	line-height: 150%;
}

ul
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	color: #565656;
	font-family: Arial;
	font-size: 11pt;
	line-height: 150%;
}

li
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	color: #565656;
	font-family: Arial;
	font-size: 11pt;
	line-height: 150%;
}

ol.NumbListBody
{
	list-style-type: decimal;
}

ol.NumbListBody > li > ol
{
	list-style-type: lower-alpha;
}

ol.NumbListBody > li > ol > li > ol
{
	list-style-type: lower-roman;
}

ol.NumbListTable
{
	list-style-type: decimal;
	list-style-image: none;
	font-size: 10pt;
}

ol.NumbListTable > li::marker
{
	font-size: 10pt;
	content: counter(NumbListTable);
}

ol.NumbListTable > li > ol
{
	list-style-type: lower-alpha;
	list-style-image: none;
	font-size: 10pt;
}

ol.NumbListTable > li > ol > li::marker
{
	font-size: 10pt;
	content: counter(NumbListTable);
}

ul.BulletListBody
{
	list-style-image: none;
}

ul.BulletListBody > li::marker
{
	font-family: ;
	content: '▪';
}

ul.BulletListBody > li > ul
{
	list-style-image: none;
}

ul.BulletListBody > li > ul > li::marker
{
	font-family: ;
	content: '–';
}

ul.BulletListTable
{
	list-style-image: none;
}

ul.BulletListTable > li::marker
{
	font-family: Arial;
	font-size: 10pt;
	content: '▪';
}

ul.BulletListTable > li > ul
{
	list-style-image: none;
}

ul.BulletListTable > li > ul > li::marker
{
	font-family: Arial;
	font-size: 10pt;
	content: '–';
}

h1
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	padding-top: 15px;
	font-style: normal;
	x-next-class: BodyText;
	x-next-type: p;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	padding-bottom: 30px;
	color: #2c347c;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	font-weight: 700;
	border-bottom-color: #2c347c;
}

h2
{
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 25px;
	color: #1976D2;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

h3
{
	font-weight: normal;
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 25px;
	color: #808080;
	font-family: ;
	font-size: 20px;
}

h4
{
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 25px;
	margin: .83em 0;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}

h5
{
	font-size: 10.0pt;
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

h6
{
	font-size: 8.0pt;
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	border-bottom-color: #5e5493;
}

a
{
	display: inline;
	color: #02a0db;
	text-decoration: none;
}

a.breadcrumbs
{
	color: #565656;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #02a0db;
	font-size: 11pt;
}

span.expandtext
{
	font-weight: normal;
	font-size: 10pt;
	color: #565656;
}

span.BoldItalic
{
	font-weight: bold;
	font-style: italic;
	font-size: 11pt;
}

span.Bold
{
	font-weight: bold;
	font-size: 11pt;
}

span.DataEntry
{
	font-family: Courier New;
	font-size: 10 pt;
}

img.Thumbnail_Popup
{
	mc-thumbnail-max-height: 96px;
	mc-thumbnail: popup;
}

img.button_inline
{
	max-height: 18 px;
	width: auto;
	margin-bottom: -2px;
	display: inline-block;
}

MadCap|glossaryTerm.Popup
{
	color: #5e5493;
	font-weight: bold;
	mc-open-image: none;
	mc-closed-image: none;
	display: inline;
	padding-left: 0px;
	padding-right: 0px;
}

MadCap|footnote
{
	color: #565656;
	font-size: 9pt;
}

MadCap|footnoteBlock
{
	font-size: 9pt;
	color: #565656;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-count: 5;
	font-size: 9pt;
	mc-breadcrumbs-prefix: '>';
}

MadCap|toggler
{
	font-weight: bold;
	mc-image-position: left;
	mc-image-spacing: 5px;
	mc-disable-glossary-terms: true;
	mc-open-image: url('../Resources/Images/Review_dd_open.png');
	mc-closed-image: url('../Resources/Images/Review_dd_close.png');
	color: #1976D2;
}

.MCTextPopup_Open.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup
{
	background-position: none;
	background-image: none;
	padding-right: 0;
	padding-left: 0;
	color: #5e5493;
}

.MCTextPopup_Closed.MCTextPopupHotSpot_.MCTextPopupHotSpot_Popup
{
	background-position: none;
	background-image: none;
	padding-right: 0;
	padding-left: 0;
	color: #5e5493;
}

.MCToggler_Closed.MCTogglerHotSpot_.MCHotSpotImage
{
	color: #1976D2;
	background-image: url('../Resources/Images/Review_dd_close.png');
}

.MCToggler_Open.MCTogglerHotSpot_.MCHotSpotImage
{
	color: #1976D2;
	background-image: url('../Resources/Images/Review_dd_open.png');
}

MadCap|glossaryProxy
{
	mc-disable-glossary-terms: true;
}

MadCap|toggler:focus
{
	color: #5e5493;
}

MadCap|toggler:hover
{
	color: #5e5493;
}

.MCTogglerHotSpot_
{
	color: #1976D2;
}

.MCToggler_Open
{
	color: #1976D2;
}

.MCTextPopupHotSpot_Popup
{
	color: #5e5493;
}

.MCTextPopupHotSpot_
{
	color: #5e5493;
}

span.SearchHighlight1
{
	background-color: #FFFF66;
}

span.SearchHighlight2
{
	background-color: #ffc57d;
}

span.SearchHighlight3
{
	background-color: #fde4a9;
}

.MCToggler_Closed
{
	background-image: url('../Resources/Images/Review_dd_close.png');
}

@media print
{
	img.button
	{
		
	}
}

MadCap|xref
{
	display: inline;
	color: #269dd8;
	text-decoration: none;
	mc-format: '{paratext}';
}

img.Thumbnail
{
	border: solid 1px #000000;
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 96px;
}

img.ReduceButtonSize
{
	max-width: auto;
	margin-bottom: -2px;
	max-height: 21px;
}

ul > li
{
	padding-left: 3pt;
}

p.LandingPageIcon
{
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-transform: all .2s ease-in-out;
	display: block;
}

p.LandingPageIcon:hover
{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: all .2s ease-in-out;
}

p.Landing_Page_Links
{
	color: #5D5397;
	font-size: 14pt;
}

p.btn
{
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	border: none;
	background-color: #2c347c;
	border-radius: 8px;
	padding: 15px 15px;
	width: 225px;
	font-size: 14px;
}

p.btn:hover
{
	background-color: #f57558;
	color: #ffffff;
}

a.Landing_Page_Hyperlinks
{
	color: #5D5397;
	text-transform: uppercase;
	font-size: 18pt;
}

p.Code_1
{
	background-color: #eeeeee;
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
	background-size: inherit;
}

span.Code_1
{
	background-color: #eeeeee;
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}

div.Code_1
{
	background-color: #eeeeee;
	font-size: 10pt;
	color: #000000;
	font-family: 'Courier New';
	line-height: 150%;
}

div.note
{
	display: block;
	font-family: Montserrat;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	background-color: #f2f2f2;
	word-spacing: normal;
	letter-spacing: normal;
	vertical-align: baseline;
	text-transform: none;
	line-height: normal;
	margin-top: 16pt;
	margin-bottom: 16pt;
	margin-left: 30pt;
	margin-right: 20pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 4pt;
	padding-right: 10pt;
	border-top-style: solid;
	border-top-width: thin;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-width: thin;
	border-right-style: solid;
	border-right-width: thin;
	float: none;
	clear: none;
	text-align: left;
	text-indent: 0cm;
	width: 90%;
	height: auto;
	white-space: normal;
	text-decoration: none;
	border-bottom-color: #000000;
	border-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
}

li > div.note
{
	
}

ol > li > div.note
{
	
}

ol > li > div > p
{
	font-size: 11pt;
	color: #565656;
}

h1.H1_Manual
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	padding-top: 15px;
	font-style: normal;
	x-next-class: BodyText;
	x-next-type: p;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	font-weight: 700;
	border-bottom-color: #2196F3;
	background-color: #2196f3;
	color: #FFFFFF;
	padding-bottom: 15px;
}

h3.h3_Black
{
	font-weight: normal;
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 25px;
	font-family: ;
	font-size: 20px;
	color: #000000;
}

h1.H1_csh
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	padding-top: 15px;
	font-style: normal;
	x-next-class: BodyText;
	x-next-type: p;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-bottom-color: #2196F3;
	background-color: #2196f3;
	color: #FFFFFF;
	font-size: 28px;
	text-indent: 20px;
	width: 100%;
	padding-bottom: 15px;
}

div.code_1 > p
{
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
	background-color: #eeeeee;
}

div.Code_2
{
	font-family: 'Courier New';
	color: #000000;
	background-size: inherit;
	font-size: 9pt;
	padding-bottom: -5px;
}

p.Code_2
{
	font-family: 'Courier New';
	color: #000000;
	background-size: inherit;
	font-size: 9pt;
	padding-bottom: -5px;
}

div > p.code_2
{
	
}

div.code_2 > p
{
	color: #000000;
	font-size: 9pt;
	padding-bottom: -5px;
	margin-left: 20px;
	font-family: 'Courier New';
}

img.Border
{
	border: solid 1px #000000;
	max-width: 550px;
}

.orangebutton
{
	background-color: #2c347c;
	border: none;
	color: #ffffff;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font: Montserrat;
	border-radius: 8px;
	cursor: pointer;
	width: 225px;
	transition-duration: 0.4s;
}

.orangebutton:hover
{
	background-color: #f57558;
	color: #ffffff;
	text-decoration: none;
}

a.Test
{
	color: #ffffff;
}

table.WhatsNew
{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

img.WhatsNew
{
	border: solid 1px #000000;
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 130px;
}

p.WhatsNew_Text
{
	color: #565656;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-right: 5pt;
	font-variant: normal;
	font-family: Arial;
	line-height: 125%;
	font-size: 11pt;
}

object
{
	width: 560px;
	height: 315px;
}

object.border
{
	border: solid 1px #000000;
}

img.Thumbnail_Large
{
	border: solid 1px #000000;
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 96px;
	height: 566px;
	mc-thumbnail-max-width: 64px;
	width: 96px;
}

